# Modo de Uso API

"As chamadas são resgatadas por método **GET**, siga os exemplos a seguir para a usabilidade de cada uma"<br>  
Recuperar todas estações de acordo com o tipo passado como parâmetro:<br>
**Estações Automáticas**:** https://apitempo.inmet.gov.br/estacoes/T<br>
**Estações Manuais:** https://apitempo.inmet.gov.br/estacoes/M<br>

In [6]:
# importar bibliotecas
from dotenv import load_dotenv
import requests
import pandas as pd
import csv

In [7]:
token = load_dotenv('TOKEN')
URL_T = 'https://apitempo.inmet.gov.br/estacoes/T'

reponse = requests.get(URL_T)

if reponse.status_code == 200:
    estacoes_automaticas = reponse.json()

# Descrição das colunas

**CD_OSCAR** : 'Código internacionalmente reconhecido para a estação meteorológica'  
**DC_NOME** : 'Nome da estação meteorológica'  
**FL_CAPITAL** : 'Indicação se a estação é a capital do estado ("S" para sim, "N" para não)'  
**DT_FIM_OPERACAO** : 'Data de encerramento das operações da estação (pode ser nulo se ainda estiver em operação)'  
**CD_SITUACAO** : 'Situação atual da estação meteorológica (por exemplo, "Pane")'  
**TP_ESTACAO** : 'Tipo da estação meteorológica (por exemplo, "Automática")'  
**VL_LATITUDE** : 'Valor da latitude geográfica da estação'  
**CD_WSI** : 'Código único atribuído pela WSI (Weather Services International)'  
**CD_DISTRITO** : 'Código do distrito ao qual a estação pertence'  
**VL_ALTITUDE** : 'Altitude da estação meteorológica'  
**SG_ESTADO** : 'Sigla do estado onde a estação está localizada'  
**SG_ENTIDADE** : 'Sigla da entidade responsável pela estação meteorológica (por exemplo, "INMET")'  
**CD_ESTACAO** : 'Código único atribuído à estação'  
**VL_LONGITUDE** : 'Valor da longitude geográfica da estação'  
**DT_INICIO_OPERACAO** : 'Data de início das operações da estação meteorológica'

In [8]:
# dados do endpoint T (automatico)
estacoes_automaticas[0]

{'CD_OSCAR': '0-2000-0-86765',
 'DC_NOME': 'ABROLHOS',
 'FL_CAPITAL': 'N',
 'DT_FIM_OPERACAO': None,
 'CD_SITUACAO': 'Pane',
 'TP_ESTACAO': 'Automatica',
 'VL_LATITUDE': '-17.96305555',
 'CD_WSI': '0-76-0-2906907000000408',
 'CD_DISTRITO': ' 04',
 'VL_ALTITUDE': '20.93',
 'SG_ESTADO': 'BA',
 'SG_ENTIDADE': 'INMET',
 'CD_ESTACAO': 'A422',
 'VL_LONGITUDE': '-38.70333333',
 'DT_INICIO_OPERACAO': '2008-07-20T21:00:00.000-03:00'}

In [9]:

type(estacoes_automaticas)

list

In [10]:
# salvar um arquivo csv com os dados das estações automaticas

df_estacoes_automaticas = pd.DataFrame(estacoes_automaticas)
df_estacoes_automaticas.head()

,CD_OSCAR,DC_NOME,FL_CAPITAL,DT_FIM_OPERACAO,CD_SITUACAO,TP_ESTACAO,VL_LATITUDE,CD_WSI,CD_DISTRITO,VL_ALTITUDE,SG_ESTADO,SG_ENTIDADE,CD_ESTACAO,VL_LONGITUDE,DT_INICIO_OPERACAO
0,0-2000-0-86765,ABROLHOS,N,None,Pane,Automatica,-17.96305555,0-76-0-2906907000000408,04,20.93,BA,INMET,A422,-38.70333333,2008-07-20T21:00:00.000-03:00
1,0-2000-0-81755,ACARAU,N,None,Operante,Automatica,-3.1211111,0-76-0-2300200000000446,03,67.15,CE,INMET,A360,-40.08722221,2009-04-21T21:00:00.000-03:00
2,0-2000-0-86827,AFONSO CLAUDIO,None,None,Pane,Automatica,-20.10416666,0-76-0-3200102000000478,06,507.48,ES,INMET,A657,-41.10694444,2011-09-23T21:00:00.000-03:00
3,0-2000-0-86686,AGUA BOA,N,None,Operante,Automatica,-14.01638888,0-76-0-5100201000000157,09,440,MT,INMET,A908,-52.21166666,2006-12-15T21:00:00.000-03:00
4,0-2000-0-86812,AGUA CLARA,N,None,Operante,Automatica,-20.44444444,0-76-0-5000203000000463,07,323.63,MS,INMET,A756,-52.87583332,2010-08-13T21:00:00.000-03:00

In [11]:
df_estacoes_automaticas.to_csv('../data_raw/estacoes_automaticas.csv')

75     A001
208    A002
329    A003
396    A005
355    A009
       ...
99     B803
285    B804
142    B806
398    B807
65     F501
Name: CD_ESTACAO, Length: 567, dtype: object

# Dados do endpoint M (Manual)
**Estações Manuais:** https://apitempo.inmet.gov.br/estacoes/M<br>

In [13]:
URL_M = 'https://apitempo.inmet.gov.br/estacoes/M'

reponse = requests.get(URL_M)

if reponse.status_code == 200:
    estacoes_manuais = reponse.json()

In [14]:
estacoes_manuais[0]

{'CD_OSCAR': '0-2000-0-82989',
 'DC_NOME': 'AGUA BRANCA',
 'FL_CAPITAL': 'N',
 'DT_FIM_OPERACAO': None,
 'CD_SITUACAO': 'Operante',
 'TP_ESTACAO': 'Convencional',
 'VL_LATITUDE': '-9.26472222',
 'CD_WSI': '0-76-0-2700102000W82989',
 'CD_DISTRITO': ' 03',
 'VL_ALTITUDE': '603.42',
 'SG_ESTADO': 'AL',
 'SG_ENTIDADE': 'INMET',
 'CD_ESTACAO': '82989',
 'VL_LONGITUDE': '-37.93805555',
 'DT_INICIO_OPERACAO': '1928-05-04T21:00:00.000-03:00'}

In [15]:
len(estacoes_manuais)

147

In [16]:
df_estacoes_manuais = pd.DataFrame(estacoes_manuais)
df_estacoes_manuais.head()

,CD_OSCAR,DC_NOME,FL_CAPITAL,DT_FIM_OPERACAO,CD_SITUACAO,TP_ESTACAO,VL_LATITUDE,CD_WSI,CD_DISTRITO,VL_ALTITUDE,SG_ESTADO,SG_ENTIDADE,CD_ESTACAO,VL_LONGITUDE,DT_INICIO_OPERACAO
0,0-2000-0-82989,AGUA BRANCA,N,None,Operante,Convencional,-9.26472222,0-76-0-2700102000W82989,03,603.42,AL,INMET,82989,-37.93805555,1928-05-04T21:00:00.000-03:00
1,0-2000-0-82353,ALTAMIRA,N,None,Operante,Convencional,-3.21416666,0-76-0-1500602000W82353,02,101.51,PA,INMET,82353,-52.21305555,1927-04-23T21:00:00.000-03:00
2,0-2000-0-83007,ALTO DA BOA VISTA,N,None,Operante,Convencional,-22.96583333,0-76-0-3304557000W83007,06,347.1,RJ,INMET,83007,-43.27916666,1966-05-31T21:00:00.000-03:00
3,0-2000-0-82590,APODI,N,None,Operante,Convencional,-5.62666666,0-76-0-2401008000W82590,03,131.37,RN,INMET,82590,-37.815,1962-12-17T21:00:00.000-03:00
4,0-2000-0-83442,ARACUAI,N,None,Operante,Convencional,-16.84888888,0-76-0-3103405000W83442,05,317.67,MG,INMET,83442,-42.06083333,1918-09-05T21:00:00.000-03:00

In [17]:
df_estacoes_manuais.to_csv('../data_raw/estacoes_manuais.csv')

### Concatenar os Dataframes e exportar como CSV

In [23]:
df = pd.concat([df_estacoes_automaticas, df_estacoes_manuais], ignore_index=True)

In [27]:
df.to_csv('../data_raw/estacoes_auto_manual.csv')

147